<form class="px-2" autocomplete="off">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group  d-flex align-items-center">
                <label class="col-form-label">所属区域：</label>
                <input [(ngModel)]="pollutant" name="pollutant" class="form-control form-control-sm col" type="text">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group d-flex align-items-center">
                <label class="col-form-label">所属行业：</label>
                <input [(ngModel)]="pollutant" name="pollutant" class="form-control  form-control-sm col" type="text">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group  d-flex align-items-center">
                <label class="col-form-label">因子类型：</label>
                <input [(ngModel)]="pollutant" name="pollutant" class="form-control  form-control-sm col" type="text">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group  d-flex align-items-center">
                <label class="col-form-label">选择因子：</label>
                <input [(ngModel)]="pollutant" name="pollutant" class="form-control  form-control-sm col" type="text">
            </div>
        </div>
    </div>
</form>